.supporter-page {
    margin: 20px auto 20px;
    max-width: 450px;
    padding: 20px;
}

.supporter-page .alt-card {
    text-align: left;
  }

.supporter-page ul {
    list-style: none;
    text-align: center;
    margin: 0px auto;
    padding: 0px;
    width: 100%;
    opacity: 0.5;
  }

  .supporter-buttons {
    text-align: center;
    display: flex;
    gap: 17.3px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .patreon-button {
    margin: 0px;
  }

  .ko-fi-button {
    margin: 0px;
  }