.newsletter-page {
    margin: 20px auto 20px;
    max-width: 450px;
    padding: 20px;
}

.newsletter-page .alt-card {
    text-align: left;
  }

.newsletter-page ul {
    margin-top: -5px;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }
  
  .newsletter-form input {
    margin-bottom: 15px;
  }

  .newsletter-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    background: none;
    border: none;
    margin: auto;
    padding: 0px;
    text-align: center;
    gap: 6.2px;
    font-family: articulat-cf;
    margin-top: 27.7px;
  }

  .newsletter-page p {
    text-align: center;
  }

  .newsletter-form label {
    font-weight: 600;
  }

  button {
    background: var(--button-bg);
    border: none;
    border-radius: 6px;
    color: var(--button-text);
    cursor: pointer;
    margin: auto;
    max-width: 175px;
    padding: 10px 15px;
    font-weight: 700;
    font-size: 1em;
    transition: background-color 0.3s ease;
  }