/* src/components/Card/Card.css */

  .grid-item {
    background: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8%;
  }

  .grid-item p {
    margin-bottom: 0px;
    margin-top: 10px;
  }
  
  .card-title {
    margin: 0;
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .card-content {
    flex-grow: 1;
    font-size: 0.95em;
  }
  
  .react-resizable-handle {
    background-image: none;
  }

  .react-grid-item > .react-resizable-handle::after {
    border-bottom: 3px solid #00000045;
    border-right: 3px solid #00000045;
    bottom: 3px;
    content: "";
    height: 10px;
    position: absolute;
    right: 3px;
    width: 10px;
    margin: 3px;
    border-end-end-radius: 8px;
  }
    
  /* Draggable Handle Styles */
  .drag-handle {
    align-items: center;
    background: #f0f0f0;
    border-radius: 4px;
    cursor: move;
    padding: 5px;
    max-width: 18px;
    text-align: center;
  }
  
  .drag-icon {
    font-size: 1.2em;
    user-select: none;
  }
  
  /* Optional: Enhance hover effect for the drag handle */
  .drag-handle:hover {
    background: #e0e0e0;
  }
  
  /* Responsive Adjustments for Cards */
  @media (max-width: 768px) {
    .drag-handle {
      justify-content: center;
    }
  }
  