.home-page {
    margin: 30px auto 20px;
    max-width: 400px;
    padding: 20px;
}

.home-page h1 {
    margin: 0px;
  }

.home-content {
    background-color: white;
    border: 5px solid #ddd;
    border-radius: 12px;
    box-shadow: none;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

