/* src/components/Home/Home.css */

.home-page {
    margin: 20px auto 20px;
    max-width: 450px;
    padding: 20px;
  }
  
  .home-page h1 {
    margin: 0px;
    color: var(--navbar-text);
    transition: color 0.3s ease;
  }
  
  .home-content {
    background-color: var(--navbar-bg);
    border: 5px solid var(--card-border);
    border-radius: 12px;
    box-shadow: none;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }

  .home-content .circular-badge{
    margin-left: -21.5px;
  }

  .home-context-text {
    max-width: 320px;
    margin: auto;
  }

  /* Responsive Adjustments for Cards */
@media (max-width: 440px) {
  .home-context-text p {
    font-size: 0.8em;
    line-height: 1.2em;
  }
  .disclaimer {
    font-size: 0.7em !important;
    max-width: 165.5px;
    margin: auto;
    margin-bottom: 11.5px;
  }
}