canvas {
    border-radius: 12px;
    background-color: var(--navbar-bg) !important;
    border: 5px solid var(--card-border);
    max-width: 100%;
    max-height: 100%;
    user-select: none;
  }

  :root {
    --circle-fill: #004f84e6;
    --circle-stroke: #3498db;
    --circle-linewidth: 6;
  }
  
  .loading-text {
    font-size: 1em;
    margin-top: 20px;
    color: #004f84e6;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    position: relative;
  }

  .dark-mode .loading-text {
    color: #ffffffe5;
  }
  
  .loading-text.fade {
    opacity: 0;
  }
  
  .dots::after {
    content: "..."; /* Initial state */
  }

  .circle-counters {
    display: flex;
    gap:  24.5px;;
    margin-top: 10px;
    font-size: 1.2em;
    align-content: center;
    justify-content: center;
  }

  .circle-counters p {
    margin: 0px;
  }

  .dark-mode .circle-counters {
    opacity: 50%;
  }

  .counter-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .legend-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    margin-bottom: 3px;
  }
  
  .regular-circle {
    background-color: #004f84e6;
    border-color: #3498db;
  }
  
  .special-circle {
    background-color: #FFD700;
    border-color: #FFA500;
  }