.privacy-terms-page {
    margin: 30px auto 20px;
    max-width: 450px;
    padding: 3%;
}

.privacy-terms-page .alt-card {
    text-align: left;
  }

  .privacy-terms-page p {
    margin-top: 0.1em;
    margin-bottom: 0.2em;
  }

  .section h2 {
    margin-top: 18px;
  }

  .privacy-terms-page h3 {
    margin-top: 17px;
    margin-bottom: 1.5px;
  }

  .privacy-terms-page h2 {
    margin-top: 13px;
  }