.activity-stat-container {
    display: flex;
    gap: 34.5px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 12.5px;
  }

  .activity-stat {
    align-content: end;
    max-width: 48px;
    font-size: 0.8em;
  }

  .activity-header {
    font-size: 0.9em;
    margin: 0px;
  }