.activity-stat-container {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 6.5px;
    row-gap: 14.5px;
  }

  .activity-stat {
    align-content: start;
    font-size: 0.8em;
  }

  .activity-header {
    font-size: 0.9em;
    margin: 0px;
    font-weight: 400;
  }

  .activity-data {
    font-size: 1.6em;
    font-weight: 600;
  }