/* frontend/src/components/AltTextCard.css */

.alt-text-card {
    text-align: center;
}

  .alt-text-card h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .alt-text-card ul {
    list-style-type: none;
    padding: 0;
    margin: 0px;
    margin-top: 10px;
    text-align: center;
  }
  
  .alt-text-card li {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .gauge-svg {
    width: 100%;
    height: auto;
  }

  .gauge-container svg {
    position: relative;
    top: -13px;
    left: 0;
    width: 100%;
    margin-top: -93px;
    overflow: hidden;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .checkbox-container input {
    margin-right: 10px;
    width: 16px;
    height: 16px;
  }
  