/* frontend/src/components/AltTextCard.css */

.alt-text-card {
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
  }

  .alt-text-card h2 {
    margin-bottom: 0px;
    margin-top: 16px;
  }
  
  .alt-text-card ul {
    list-style-type: none;
    padding: 0;
    margin: 0px;
    align-content: center;
  }
  
  .alt-text-card li {
    font-size: 1em;
    margin-bottom: 4px;
  }
  
  .gauge-svg {
    width: 100%;
    height: auto;
  }

  .gauge-container svg {
    position: relative;
    top: -13px;
    left: 0;
    width: 100%;
    margin-top: -55px;
    overflow: hidden;
  }

  .dark-mode .recharts-sector.recharts-radial-bar-background-sector {
    fill: #676767;
    opacity: 0.6;
  }

  .dark-mode .recharts-rectangle.recharts-bar-background-rectangle {
    fill: #676767;
  }

  .recharts-layer.recharts-label-list {
    font-size: 0.9em;
    font-weight: 900;
    filter: drop-shadow(1px 1px 0.5px #6b6b6bb5);
  }

  .alt-text-card .recharts-surface {
    margin-left: 7.5px;
    scale: 1.1;
  }