/* src/components/UserProfile/UserProfile.css */

/* Container for the profile page */
.user-profile {
    margin: auto;
    max-width: 1200px;
    margin-top: 40px;
  }


  .user-profile h1 {
    margin: 0px;
  }
  
  /* Media query for responsiveness (optional, handled by react-grid-layout) */
  @media (max-width: 1200px) {
    .layout {
      width: 100%;
    }
  }

  .user-profile {
    margin: auto;
    max-width: 1200px;
    opacity: 0; /* Initially hidden */
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .user-profile.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  
  .user-profile.hidden {
    display: none;
  }
  
  .user-profile.loading-container {
    opacity: 1;
    transition: opacity 1s ease;
  }
  
  .user-profile.loading-container.fade-out {
    opacity: 0;
    pointer-events: none;
  }
  
  .user-profile-header {
    text-align: center;
  }

  .react-grid-item.react-grid-placeholder {
    background: #3B9AF8 !important;
    border-radius: 8px;
    opacity: 0.2;
    transition-duration: 100ms;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  .react-grid-item.react-grid-placeholder.placeholder-resizing {
    transition: none;
  }

  .react-grid-layout {
    margin-bottom: 40px;
  }

  /* src/components/UserProfile/UserProfile.css */

.user-profile-header {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 55px;
}


.toggle-button {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  background-color: #a9a9a9;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.toggle-button.active {
  background-color: #3B9AF8;
  color: white;
}

.toggle-button:hover {
  background-color: #ccc;
}

.user-profile-header p {
  margin-top: 0px;
  margin-bottom: 9px;
}

.user-profile-header h2 {
  font-size: 1.2em;
  margin: 0px;
}

.user-profile-header h1 {
  margin-bottom: 0px;
}

.user-profile-header-rechart {
  max-width: 416.5px;
  margin: auto;
  height: 90.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center.font-semibold.mt-2 {
  margin-top: -18.5px;
  font-size: 1.4em;
  font-weight: 600;
  color: #004f84;
}

.user-profile-header-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user-profile-data {
  display: flex;
  flex-direction: column;
}

.user-profile-data {
  flex-direction: row;
  justify-content: center;
  gap: 35px;
  margin-top: 111px;
  margin-bottom: 30px;
  margin-left: 25px;
  margin-right: 25px;
}

.circular-badge {
  margin-top: -22px;
  margin-bottom: -8px;
}

.user-profile-name {
  gap: 7px;
  display: flex;
  flex-direction: column;
}

.loading-container-1 {
  min-height: 0 !important;
  margin-bottom: 50px;
  margin-top: 30px;
}

.grid-item {
  overflow: scroll;
  scroll-behavior: auto;
  scrollbar-width: none;
}

.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}

.narrative-card p:first-letter {
  text-transform: capitalize;
}

.user-profile-badges h3 {
  margin: 0px;
  font-size: 0.8em;
}

.circular-badge {
  position: relative;
  display: inline-block;
}

/* Light mode styles */
.circular-logo-text {
  fill: var(--circular-logo-text, #004f84);
  transition: fill 0.3s ease;
}

.user-profile .recharts-responsive-container {
  max-width: 100%;
}

.share-button-container {
  margin-top: 10px;
}

.toggle-switch {
  display: none;
}

.user-profile-activity {
  text-transform: capitalize;
}

tspan {
  font-family: articulat-cf;
}

.dark-mode tspan {
  fill: white;
  opacity: 0.5;
}

.user-profile-score {
  align-content: center;
}

.dark-mode rect {
  stroke: #333 !important;
  stroke-width: 5px !important;
}

.recharts-surface {
  stroke-width: 0.3px;
}

.recharts-cartesian-axis-ticks {
  font-size: 0.7em;
}

.text-sm.text-gray-500.text-center.mt-4 {
  text-align: center;
  padding-top: 10px;
  font-size: 0.8em;
  opacity: 0.5;
}


.user-profile-header-rechart {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding: 1rem;
}

/* Responsive Adjustments for Cards */
@media (max-width: 470px) {
  .user-profile-data {

  }
}